body{
    background-color: #eee;
}

.list-group-item > .pull-left {
    padding-right: 10px;
}

.video-actions{
    width: 400px;
}

.container{
    width: 40% !important;
}

.profile{
    font-weight: bold;
}

.profile:hover{
    color: #D60808;
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    line-height: 1em;
    height: auto;
}

.showContent{
    height: auto;
}

.show-more {
    padding: 10px 0;
}

.show-text{
    background:none;
    border:none; 
    padding:0;
    font: inherit;
    color:#337ab7;
    cursor: pointer;
}

.video-title{
     margin-top: 2px;
     margin-bottom: 5px;
     font-size: 16px;
}

.heart{
    color: #e0245e;
}

.play{
    color: #17bf63;
}

.comment{
    color: darkgray;
}

